# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Ansible
*.retry

# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# IDE
.idea/
.vscode/
*.swp
*.iml

# OS
.DS_Store
